<section id="about" class="about">
  <div class="container">

    <a class="img-about" href="./index.html">
      <img loading="lazy" class="about-img" src="./img/image-25.png" srcset="
                  ./img/image-25.png 1x,
                  ./img/image-25-2x.png 2x
                " width="375" height="375" alt="Trailer Park Boys Match" />
    </a>

    <div class="container-grop-about">
      <p class="about-uppertext">About the Game</p>
      <h1 class="about-title">These aren't your grandma's match-3 puzzles</h1>
      <p class="about-text">Trailer Park Boys Match delivers a match-3 experience with a strong comedic twist. Each
        level
        feels lively and
        unpredictable, with visual humor and character-driven moments.
        As you get better at the puzzles, you'll unlock more of the park's shenanigans and see what the boys are up to.
      </p>
    </div>

  </div>
</section>