<section class="characters-section" id="meet">
  <h2 class="characters-title">Meet the troublemakers</h2>
  <div class="characters-list">

    <div class="character-card">
      <img src="./img/image-36.png"
           srcset="./img/image-36.png 1x, ./img/image-36-2x.png 2x"
           alt="Ricky"
           class="character-image" />
      <h3 class="character-name">Ricky</h3>
      <p class="character-description">
        Misuses words with total confidence and zero regret.
        His logic is unchallengeable... somehow.
      </p>
    </div>

    <div class="character-card">
      <img src="./img/image-37.png"
           srcset="./img/image-37.png 1x, ./img/image-37-2x.png 2x"
           alt="Julian"
           class="character-image" />
      <h3 class="character-name">Julian</h3>
      <p class="character-description">
        Always has a drink in hand and a scheme in mind.
        The self-appointed leader of the park.
      </p>
    </div>

    <div class="character-card">
      <img src="./img/image-38.png"
           srcset="./img/image-38.png 1x, ./img/image-38-2x.png 2x"
           alt="Bubbles"
           class="character-image" />
      <h3 class="character-name">Bubbles</h3>
      <p class="character-description">
        Genius mechanic, cat enthusiast, and the moral compass
        of the Sunnyvale Trailer Park.
      </p>
    </div>

  </div>
</section>


