<section id="characters" class="characters">
  <div class="container">

    <h1 class="characters-title">Meet the troublemakers</h1>
    <div class="characters-list">
      <div class="container-characters">
        <a class="img-characters" href="./index.html">
          <img loading="lazy" class="characters-img" src="./img/image-38.png" srcset="
                        ./img/image-38.png 1x,
                        ./img/image-38-2x.png 2x
                      " width="375" height="375" alt="Trailer Park Boys Match" />
        </a>
        <h2 class="characters-subtitle">Ricky</h2>
        <p class="characters-text">Misuses words with total confidence and zero regret.
          His logic is unchallengeable... somehow.</p>
      </div>

      <div class="container-characters">
        <a class="img-characters" href="./index.html">
          <img loading="lazy" class="characters-img" src="./img/image-36.png" srcset="
                        ./img/image-36.png 1x,
                        ./img/image-36-2x.png 2x
                      " width="375" height="375" alt="Trailer Park Boys Match" />
        </a>
        <h2 class="characters-subtitle">Julian</h2>
        <p class="characters-text">Always has a drink in hand and a scheme in mind.
          The self-appointed leader of the park.</p>
      </div>

      <div class="container-characters">
        <a class="img-characters" href="./index.html">
          <img loading="lazy" class="characters-img" src="./img/image-37.png" srcset="
                        ./img/image-37.png 1x,
                        ./img/image-37-2x.png 2x
                      " width="375" height="375" alt="Trailer Park Boys Match" />
        </a>
        <h2 class="characters-subtitle">Bubbles</h2>
        <p class="characters-text">Genius mechanic, cat enthusiast, and the moral compass
          of the Sunnyvale Trailer Park.</p>
      </div>
    </div>
  </div>
</section>