<section id="faq" class="faq">
  <div class="container">
    <div class="faq-wrapper">

      <h1 class="faq-title">FAQ</h1>

      <div class="faq-accordion">

        <div class="faq-item">
          <div class="faq-header">
            <p class="faq-question">Is the game story-driven?</p>

            <button class="faq-toggle" type="button">
              <svg class="icon icon-arrow-down">
                <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>

          <p class="faq-answer">
            Yeah, there's definitely story stuff with the characters as you go along.
          </p>
        </div>


        <div class="faq-item">
          <div class="faq-header">
            <p class="faq-question">Is it beginner-friendly?</p>

            <button class="faq-toggle" type="button">
              <svg class="icon icon-arrow-down">
                <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>

          <p class="faq-answer">
            Totally! Anyone can pick it up, but it gets trickier as you go.
          </p>
        </div>


        <div class="faq-item">
          <div class="faq-header">
            <p class="faq-question">Do characters affect gameplay?</p>

            <button class="faq-toggle" type="button">
              <svg class="icon icon-arrow-down">
                <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>

          <p class="faq-answer">
            They enhance the experience and add humor.
          </p>
        </div>


        <div class="faq-item">
          <div class="faq-header">
            <p class="faq-question">Are levels fast-paced?</p>

            <button class="faq-toggle" type="button">
              <svg class="icon icon-arrow-down">
                <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>

          <p class="faq-answer">
            Yes. The game focuses on quick and dynamic play.
          </p>
        </div>


        <div class="faq-item">
          <div class="faq-header">
            <p class="faq-question">Can I play in short sessions?</p>

            <button class="faq-toggle" type="button">
              <svg class="icon icon-arrow-down">
                <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>

          <p class="faq-answer">
            Yes. Levels are designed for quick access.
          </p>
        </div>

      </div>
    </div>
  </div>
</section>