<section id="faq" class="faq">
  <div class="container">
    <div class="faq-wrapper">

      <h1 class="faq-title">FAQ</h1>

      <div class="faq-accordion">

        <div class="faq-item" data-faq-item data-visible="close">
          <div class="faq-header" data-faq-header>
            <p class="faq-question">Is the game story-driven?</p>

            <button class="faq-toggle" type="button">
              <svg class="icon icon-arrow-down">
                <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>

          <div class="faq-answer">
            <div class="faq-answer-text">
              Yeah, there's definitely story stuff with the characters as you go along.
            </div>
          </div>
        </div>

        <div class="faq-item" data-faq-item data-visible="close">
          <div class="faq-header" data-faq-header>
            <p class="faq-question">Is it beginner-friendly?</p>

            <button class="faq-toggle" type="button">
              <svg class="icon icon-arrow-down">
                <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>

          <div class="faq-answer">
            <div class="faq-answer-text">
              Totally! Anyone can pick it up, but it gets trickier as you go.
            </div>
          </div>
        </div>

        <div class="faq-item" data-faq-item data-visible="close">
          <div class="faq-header" data-faq-header>
            <p class="faq-question">Do characters affect gameplay?</p>

            <button class="faq-toggle" type="button">
              <svg class="icon icon-arrow-down">
                <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>

          <div class="faq-answer">
            <div class="faq-answer-text">
              They enhance the experience and add humor.
            </div>
          </div>
        </div>

        <div class="faq-item" data-faq-item data-visible="close">
          <div class="faq-header" data-faq-header>
            <p class="faq-question">Are levels fast-paced?</p>

            <button class="faq-toggle" type="button">
              <svg class="icon icon-arrow-down">
                <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>

          <div class="faq-answer">
            <div class="faq-answer-text">
              Yes. The game focuses on quick and dynamic play.
            </div>
          </div>
        </div>

        <div class="faq-item" data-faq-item data-visible="close">
          <div class="faq-header" data-faq-header>
            <p class="faq-question">Can I play in short sessions?</p>

            <button class="faq-toggle" type="button">
              <svg class="icon icon-arrow-down">
                <use href="./img/icons/sprite.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>

          <div class="faq-answer">
            <div class="faq-answer-text">
              Yes. Levels are designed for quick access.
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>