<div class="swiper gallerySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide gallery__slide">
      <img src="./img/image-28.png"
           srcset="./img/image-28.png 1x, ./img/image-28-2x.png 2x"
           alt="Busted screen" />
    </div>
    <div class="swiper-slide gallery__slide">
      <img src="./img/image-22.png"
           srcset="./img/image-22.png 1x, ./img/image-22-2x.png 2x"
           alt="Characters screen" />
    </div>
    <div class="swiper-slide gallery__slide">
      <img src="./img/image-23.png"
           srcset="./img/image-23.png 1x, ./img/image-23-2x.png 2x"
           alt="Power Up screen" />
    </div>
    <div class="swiper-slide gallery__slide">
      <img src="./img/image-35.png"
           srcset="./img/image-35.png 1x, ./img/image-35-2x.png 2x"
           alt="Gameplay screen" />
    </div>
    <div class="swiper-slide gallery__slide">
      <img src="./img/image-34.png"
           srcset="./img/image-34.png 1x, ./img/image-34-2x.png 2x"
           alt="Stick It screen" />
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
