<section id="gallery" class="gallery">
  <div class="container">

    <h2 class="gallery-title">Action and attitude</h2>

    <div class="gallery-swiper mySwiper">
      <div class="gallery-wrapper swiper-wrapper">

        <div class="swiper-slide gallery-slide">
          <div class="content">
            <img class="gallery-img" src="./img/image-28.png" alt="Step 1" srcset="
              ./img/image-28.png 1x,
              ./img/image-28-2x.png 2x
            " width="312" height="464" />
          </div>
        </div>

        <div class="swiper-slide gallery-slide">
          <div class="content">
            <img class="gallery-img" src="./img/image-22.png" alt="Step 2" srcset="
              ./img/image-22.png 1x,
              ./img/image-22-2x.png 2x
            " width="312" height="464" />
          </div>
        </div>


        <div class="swiper-slide gallery-slide">
          <div class="content">
            <img class="gallery-img" src="./img/image-23.png" alt="Step 3" srcset="
              ./img/image-23.png 1x,
              ./img/image-23-2x.png 2x
            " width="312" height="464" />
          </div>
        </div>


        <div class="swiper-slide gallery-slide">
          <div class="content">
            <img class="gallery-img" src="./img/image-35.png" alt="Step 4" srcset="
              ./img/image-35.png 1x,
              ./img/image-35-2x.png 2x
            " width="312" height="464" />
          </div>
        </div>


        <div class="swiper-slide gallery-slide">
          <div class="content">
            <img class="gallery-img" src="./img/image-34.png" alt="Step 5" srcset="
              ./img/image-34.png 1x,
              ./img/image-34-2x.png 2x
            " width="312" height="464" />
            </p>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>