<section id="hero" class="hero">
  <div class="container">

    <div class="container-hero-title">
      <p class="hero-uppertext">Match-3 Puzzle / Comedy</p>
      <h1 class="hero-title">Match hard.
        Laugh harder.</h1>
    </div>

    <div class="container-grop-hero">
      <div class="container-hero-subtitle">
        <h2 class="hero-subtitle">Get ready to blow stuff up and laugh your way through every level.</h2>
        <p class="hero-text">Match tiles and cause hilarious mayhem.</p>
      </div>

      <div class="hero-btn">
        <a class="hero-button" type="button"
          href="https://play.google.com/store/apps/details?id=com.eastsidegames.tpbmatch" target="_blank"
          rel="noopener noreferrer">
          <img src="./img/Mobile-app-store-badge.png" alt="Get it on Google Play" width="">
        </a>
      </div>

    </div>
  </div>
</section>