<section class="swiper-section">
  <div class="container">

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide step step--1">
          <div class="content">
            <p class="swiper-uppertext">Step 01</p>
            <h2 class="swiper-title">Match Pieces</h2>
            <p class="swiper-text">Align three or more tiles to clear them and start the action.</p>
          </div>
        </div>

        <div class=" swiper-slide step step--2">
          <div class="content">
            <p class="swiper-uppertext">Step 02</p>
            <h2 class="swiper-title">Trigger Combos</h2>
            <p class="swiper-text">Create larger matches to unleash powerful effects.</p>
          </div>
        </div>

        <div class="swiper-slide step step--3">
          <div class="content">
            <p class="swiper-uppertext">Step 03</p>
            <h2 class="swiper-title">Complete Objectives</h2>
            <p class="swiper-text">Focus on level goals to advance through the game.</p>
          </div>
        </div>

        <div class="swiper-slide step step--4">
          <div class="content">
            <p class="swiper-uppertext">Step 04</p>
            <h2 class="swiper-title">Use Boosters</h2>
            <p class="swiper-text">Activate special tools to handle tougher challenges.</p>
          </div>
        </div>

        <div class="swiper-slide step step--5">
          <div class="content">
            <p class="swiper-uppertext">Step 05</p>
            <h2 class="swiper-title">Keep Progressing</h2>
            <p class="swiper-text">Unlock new scenes and situations as you play.</p>
          </div>
        </div>

      </div>
    </div>

    <div class="desktop-grid">
      <div class="item">
        <p class="swiper-uppertext">Step 01</p>
        <h2 class="swiper-title">Match Pieces</h2>
        <p class="swiper-text">Align three or more tiles to clear them and start the action.</p>
      </div>

      <div class="item">
        <p class="swiper-uppertext">Step 02</p>
        <h2 class="swiper-title">Trigger Combos</h2>
        <p class="swiper-text">Create larger matches to unleash powerful effects.</p>
      </div>

      <div class="item">
        <p class="swiper-uppertext">Step 03</p>
        <h2 class="swiper-title">Complete Objectives</h2>
        <p class="swiper-text">Focus on level goals to advance through the game.</p>
      </div>

      <div class="item">
        <p class="swiper-uppertext">Step 04</p>
        <h2 class="swiper-title">Use Boosters</h2>
        <p class="swiper-text">Activate special tools to handle tougher challenges.</p>
      </div>

      <div class="item">
        <p class="swiper-uppertext">Step 05</p>
        <h2 class="swiper-title">Keep Progressing</h2>
        <p class="swiper-text">Unlock new scenes and situations as you play.</p>
      </div>

    </div>
  </div>
</section>