.footer {
  padding: 20px 0;
}

.footer-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 1.89;
  color: #bdbdbd;
}

a[href*='privacy-policy'],
a[href*='terms-and-conditions'] {
  text-decoration: underline;
}

.link-footer {
  display: flex;
  gap: 24px;
}

.footer-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.6;
  text-decoration: underline;
  color: #bdbdbd;
}

.footer-link:hover {
  color: #0f8030;
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 28px 0;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 180px;
  }

  .link-footer {
    margin-left: auto;
  }

  .footer-desc,
  .footer-link {
    font-size: 13px;
    line-height: 1.6;
  }
}