.gallerySwiper {
  width: 100%;
  height: 553px;
  margin: 0 auto;
  padding: 0 16px;
}

.gallerySwiper .swiper-slide {
  width: 280px;
  height: 553px;
  flex-shrink: 0;
}

.gallerySwiper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@media screen and (min-width: 1440px) {
  .gallerySwiper {
    max-width: 1296px;
    height: 553px;
    margin: 0 auto;
    padding: 0;
  }

  .gallerySwiper .swiper-slide {
    width: 311px;
  }
}


