.header-additional {
  padding: 20px 0;
}

.header-additional-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1440px) {
  .header-additional-wrapper {
    font-size: 16px;
  }
}