.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-list,
.header-button {
  display: none;
}

/* burger */

.header-burger-wrapper {
  display: flex;
}

.nav-link {
  position: relative;
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: #fff;
  transition: 200ms ease-in;
  padding: 8px 16px;
}

.nav-link:hover {
  color: #0f8030;
}

.nav-link:focus {
  color: #12ba43;
}

.burger-btn {
  background-color: #0e5322;
  border: none;
  width: 85px;
  height: 45px;
  border-radius: 4px;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.01em;
  text-align: center;
}

.burger-btn:hover {
  background-color: #0f8030;
}

.burger-menu {
  display: none;
  flex-direction: column;
  background-color: #000;
  width: 178px;
  height: 392px;
  position: absolute;
  top: 0;
  right: 0;
}

.btn-close {
  align-self: baseline;
  padding: 8px;
}

.burger-item {
  border-top: 1px solid #ddf9e4;
  width: 124px;
}

.burger-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0e5322;
  border: none;
  width: 178px;
  height: 45px;
  border-radius: 4px;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.01em;
  text-align: center;
}

.burger-button:hover {
  background-color: #0f8030;
}

[data-visible='open'] {
  display: flex;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 40px;
  }

  .nav {
    display: contents;
  }

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e5322;
    border: none;
    width: 178px;
    height: 45px;
    border-radius: 4px;
    color: #fff;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.01em;
    text-align: center;
  }

  .header-button:hover {
    background-color: #0f8030;
  }

  .header-burger-wrapper {
    display: none;
  }
}