.privacy-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.privacy-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  color: #fff;
  margin-top: 16px;
}

.privacy-subtitle,
.privacy-date {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}


.privacy-text,
.privacy-item {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

.privacy-list {
  list-style: disc;
  padding-left: 20px;
}

@media screen and (min-width: 1440px) {
  .privacy-title {
    font-size: 48px;
    margin-top: 24px;
    margin-bottom: 8px;
  }


  .privacy-text,
  .privacy-item {
    font-size: 16px;
  }
}