.terms-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.terms-list {
  list-style-type: decimal;
  padding-left: 24px;
}

.terms-item {
  margin-bottom: 16px;
}

.terms-sublist {
  list-style-type: lower-alpha;
  padding-left: 24px;
}

.terms-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 28px;
  color: #fff;
  margin-top: 16px;
}

.terms-subtitle {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.terms-date,
.terms-text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

a[href*="adr.org"],
a[href^="mailto:"] {
  text-decoration: underline;
}

@media screen and (min-width: 1440px) {
  .terms-title {
    font-size: 48px;
    margin-top: 24px;
    margin-bottom: 8px;
  }

  .terms-subtitle,
  .terms-date,
  .terms-text {
    font-size: 16px;
  }

  .terms-item {
    margin-bottom: 16px;
  }
}